<!DOCTYPE html>
<html>
  <head>
      <title>{{ title }}</title>
    <base target="_top">
    <link rel="stylesheet" href="https://unpkg.com/@citizensadvice/cads-system@latest/build/cads.system.css">
  </head>
  <body>
    <header class="c-global-header">
    <div class="c-wrap">
      <div class="c-global-header__content-wrap">
        <div class="c-global-header__product-title">
          <img src="https://citizensadvice.github.io/cads/images/citizens_advice_logo.svg" alt="Citizens Advice logo">
        </div>
      </div>
    </div>
    </header>
    
    <main>
    <div class="c-wrap">
      <h1>Customer Journey data pipeline</h1>
    </div>
    </main>

  

    
  </body>
</html>